@import "tailwindcss";


@theme{
    --color-primary-button: #1565c0;
    --color-nav-gray: #eaf4f4;
    --color-primary-text: #212529;
    --color-secondary-text: #495057;
    --color-muted-text: #6c757d;
    --color-background: #eaf4f4;
    --color-white-bg: #fffffc;
}